.user-manage_container {

    .user-content {}
}

.model-add-user {


    .img-upload {

        display: flex;
        // flex-direction: column;
        // gap: 10px;
        background: #eeeeee;
        align-items: center;
        padding: 10px;
        margin-bottom: 0;
        border-radius: 10px;
        cursor: pointer;
        width: fit-content;

        &:hover {
            background: #dcdcdc;
        }

        label {
            margin: 0 10px 0 0;
            cursor: pointer;
            display: block;
        }
    }

    .img-preview {
        border: 2px dashed #ccc;
        border-radius: 5px;
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ccc;
        width: 400px;
        height: 300px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}